:host ::ng-deep .roadmap-item-list {
  display: block;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 62px;
    left: 22px;
    bottom: 25px;
    width: 3px;
    background-color: green;
  }

  // TODO: Add class .last into loop

  &.last::before {
    background-color: white;
  }

  &.list-level-3::before {
    top: 0;
    left: 72px;
  }

  &.list-level-4::before {
    top: 0;
    left: 100px;
  }

  /*
    NOTE: Component roadmap-item (only instance(s) in each last li element) can't
    be selected within component itself so modifying styles are written in here.
  */

  ul li:last-child {
    .roadmap-item:not(.level-1)::after {
      height: 100%;
      top: 30px;
      bottom: 0;
      background-color: yellow;
      width: 10px;
    }
  }
}
