:host ::ng-deep .roadmap-item-list {
  display: block;
  position: relative;

  &.list-level-2 {
    background-color: orange;

    .list-item-level-2 {
      background-color: yellow;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        display: block;
        top: -10px;
        left: 20px;
        bottom: -10px;
        width: 3px;
        background-color: green;
      }

      &.list-item-level-2-last {
        &::before {
          height: 35px;
          background-color: pink;
        }
      }
    }
  }
}
