<!-- Container -->
<div
  class="roadmap-item px-3 pt-1 pb-2 max-w-lg level-{{ level }}"
  [ngClass]="{
    'bg-gray-200 text-gray-500': status === 'absorbed',
    'bg-gray-50 text-gray-400': status === 'needToLearn',
    'uppercase font-bold': level === 1
  }"
>
  <!-- Text -->
  <span *ngIf="!href; else elseBlock">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </span>
  <!-- / Text -->
  <!-- Link -->
  <ng-template #elseBlock>
    <a
      class="underline hover:text-red-700"
      [href]="href"
      [title]="hrefTitle"
      rel="noopener noreferrer"
      target="_blank"
    >
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </a>
  </ng-template>
  <!-- / Link -->
</div>
<!-- / Container -->

<!-- Template for output of content -->
<ng-template #content>
  <small>
    <ng-content></ng-content>
  </small>
</ng-template>
<!-- / Template for output of content -->
