.roadmap-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 8px;
  line-height: 1.5;
  margin-bottom: 10px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    left: -20px;
  }

  &:not(.level-1) {
    &::before {
      top: 50%;
      height: 1px;
      width: 15px;
      background-color: black;
    }

    // Extra filling gap for 2-liners
    &::after {
      top: 0;
      bottom: 50%;
      width: 1px;
      background-color: black;
    }
  }

  &.level-2 { margin-left: 40px; }
  &.level-3 { margin-left: 80px; }
  &.level-4 { margin-left: 120px; }
  &.level-5 { margin-left: 160px; }

  a,
  button {
    width: 100%;
  }

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .depth-meter {
    display: none;
    position: absolute;
    bottom: 0;
    height: 5px;
    background-color: cyan;
    left: 0;
    color: red;
  }
}
