.roadmap-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-right: 30px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    left: -25px;
  }

  &.level-1 {
    @apply bg-gray-500 text-white;
    width: 75%;
  }

  &:not(.level-1) {
    width: 190px;

    &::before {
      top: 50%;
      height: 1px;
      width: 22px;
      border-top: 1px solid black;
    }

    &::after {
      top: 0;
      height: 50%;
      width: 1px;
      border-left: 1px solid black;
    }
  }

  &.level-2 { margin-left: 40px; }
  &.level-3 { margin-left: 80px; }
  &.level-4 { margin-left: 120px; }
  &.level-5 { margin-left: 160px; }

  // @media (min-width: 640px) {
  //   &.level-1 {
  //     width: 250px;
  //     max-width: none;

  //     // &::before {
  //     //   display: none;
  //     // }

  //     // &::after {
  //     //   bottom: 0;
  //     //   transform: translateY(100%);
  //     //   left: 50%;
  //     //   height: 50%;
  //     //   width: 1px;
  //     //   border-left: 1px solid black;
  //     // }
  //   }

  //   &:not(.level-1) {
  //     width: 130px;

  //     &::before { display: none; }
  //     &::after {
  //       top: 0;
  //       transform: translateY(-23px);
  //       left: 50%;
  //       height: 15px;
  //     }
  //   }

  //   &.level-2 {
  //     margin: 40px 0 0;
  //   }
  // }

  .depth-meter {
    // display: none;
    position: absolute;
    bottom: 0;
    height: 5px;
    background-color: cyan;
    left: 0;
    color: red;
  }

  .toggle {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: right;
    padding-right: 10px;

    &::before {
      content: '';
      position: absolute;
      width: 30px;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}
