<!-- TODO:
  - refactor, this is over-engineered for this simple case
  - add <i class="las la-check-square inline-block"></i>
-->

<!-- Container -->
<div
  class="roadmap-item relative mb-1 text-lg level-{{ level }}"
  [ngClass]="{
    'bg-gray-600 text-white uppercase font-bold': level === 1,
    'bg-gray-200 text-gray-500': status === 'knowledgeAbsorbed',
    'bg-gray-50 text-gray-400': status === 'knowledgeNeedToGain',
    'bg-gray-500 text-white': status === 'knowledgeAbsorbed' && child && child.itemList.length > 0
  }"
>
  <!-- Text -->
  <span *ngIf="!href; else elseBlock">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </span>
  <!-- / Text -->
  <!-- Link -->
  <ng-template #elseBlock>
    <a
      class="
        sky-neutral:hover:text-red-600
        post-office:hover:text-orange-500
        underline "
      [href]="href"
      [title]="hrefTitle"
      rel="noopener noreferrer"
      target="_blank"
      [attr.gaEvent]="ga ? ga : null"
      [attr.gaCategory]="ga ? 'roadmap' : null"
    >
    <ng-container *ngTemplateOutlet="content"></ng-container>
    <i class="las la-external-link-alt text-gray-400 inline-block"></i>
    </a>
  </ng-template>
  <!-- / Link -->
  <!-- Toggle button -->
  <button
    *ngIf="child && child.itemList.length > 0"
    class="toggle"
    (click)="toggleChildVisibility()"
  >
    <i class="las" [ngClass]="{
      'la-caret-up': child?.isVisible,
      'la-caret-down': !child?.isVisible
    }"></i>
  </button>
  <!-- / Toggle button -->
</div>
<!-- / Container -->

<!-- Template for output of content -->
<ng-template #content>
  <small class="pl-3 py-2 inline-block">
    <ng-content></ng-content>
  </small>
  <span
    class="depth-meter"
    [ngStyle]="{ width: depthMeter + '%' }"
  >
    {{ child?.itemList?.length }}
  </span>
</ng-template>
<!-- / Template for output of content -->
