<app-stats></app-stats>

<app-tab-list>
  <app-tab title="CLI">
    <p>CLI content goes here...<br /><br /></p>
    <code><small>npx ng generate component stats</small></code>
    <p>...</p>
  </app-tab>
  <app-tab title="Template">
    <p>Template content goes here...<br /><br /></p>
    <code><small>html code</small></code>
    <p>...</p>
  </app-tab>
  <app-tab title="Script">
    <p>Script content goes here...<br /><br /></p>
    <code><small>calculateCupsDrank()</small></code>
    <p>...</p>
  </app-tab>
</app-tab-list>

<router-outlet></router-outlet>
