<div class="container mx-auto px-4 theme-{{ currentTheme.name }}">
  <div class="text-right pt-3 pr-3">
    <div class="flex flex-row justify-end">
      <small class="mr-2">Change theme</small>
      <button *ngFor="let theme of themeList"
        class="block w-5 h-5 mr-1 {{ theme.background }}"
        [ngClass]="{ 'border-2 border-gray-300': theme.name === currentTheme.name }"
        (click)="setTheme(theme)"
        gaEvent="themeSwitched" gaCategory="defaultCategory"
      ></button>
    </div>
  </div>
  <h1 class="mt-10">
    <span class="text-2xl leading-loose block text-gray-500">
      Hi, my name is
    </span>
    <span class="text-5xl leading-tight block text-black">
      Žiga
      <button
        class="
        sky-neutral:text-gray-500 sky-neutral:bg-gray-100 sky-neutral:hover:text-red-600 sky-neutral:hover:border-red-600
        post-office:text-yellow-500 post-office:hover:text-orange-500
          rounded-xl relative
        "
        (click)="playNamePronunciation()"
        gaEvent="audioNamePronunciationPlayed" gaCategory="defaultCategory"
      >
        <i class="las la-volume-up"></i>
      </button> I'm a <strong
        class="sky-neutral:before:bg-gray-200 post-office:before:bg-yellow-400 before:block before:absolute before:-inset-1 before:-skew-y-3 relative inline-block"
      >
        <span class="sky-neutral:text-gray-500 post-office:text-black relative">senior engineer</span>
      </strong>
    </span>
    <span class="text-3xl leading-relaxed mb-8 block">
      and career coach, mostly focused on <em class="text-gray-500">front-end web development</em>.
    </span>
  </h1>
  <p class="text-xl mb-10">
    I am located in <a
      class="
        sky-neutral:text-gray-500 sky-neutral:hover:border-red-600
        post-office:text-yellow-500 post-office:hover:border-orange-500
        border-b-4
      "
      href="https://www.google.com/maps/place/Slovenia/@46.1437677,13.8719626,8z/data=!3m1!4b1!4m5!3m4!1s0x476524e75e968361:0xe740451e25e2d465!8m2!3d46.151241!4d14.995463"
      rel="noopener noreferrer"
      target="_blank"
    >Slovenia<i class="las la-external-link-alt text-gray-400"></i></a>, currently working at international company named <a
      class="
        sky-neutral:text-gray-500 sky-neutral:hover:border-red-600
        post-office:text-yellow-500 post-office:hover:border-orange-500
        border-b-4
      "
      href="https://www.endava.com/"
      rel="noopener noreferrer"
      target="_blank"
    >Endava<i class="las la-external-link-alt text-gray-400"></i></a>.
  </p>

  <app-stat-list></app-stat-list>

  <h2 class="
    sky-neutral:before:bg-gray-200 sky-neutral:after:bg-gray-200
    post-office:before:bg-yellow-400 post-office:after:bg-yellow-400
    text-black text-3xl mb-10 pt-3 pl-2
  ">My main skills</h2>
  <ul class="list-disc ml-9 mb-16">
    <li class="sky-neutral:text-gray-300 post-office:text-yellow-400 mb-2">
      <span class="text-black">
        understanding of <app-highlight-skill>developing for the web</app-highlight-skill> and <app-highlight-skill>a careful eye for design</app-highlight-skill>,
      </span>
    </li>
    <li class="sky-neutral:text-gray-300 post-office:text-yellow-400 mb-2">
      <span class="text-black">
        the ability to <app-highlight-skill>translate design</app-highlight-skill> into semantic, accessible front-end code,
      </span>
    </li>
    <li class="sky-neutral:text-gray-300 post-office:text-yellow-400 mb-2">
      <span class="text-black">
        understanding of <app-highlight-skill>modern web technologies and workflows</app-highlight-skill>,
      </span>
    </li>
    <li class="sky-neutral:text-gray-300 post-office:text-yellow-400 mb-2">
      <span class="text-black">
        fully aware of <app-highlight-skill>mobile and responsive design</app-highlight-skill> and <app-highlight-skill>development practices</app-highlight-skill>,
      </span>
    </li>
    <li class="sky-neutral:text-gray-300 post-office:text-yellow-400 mb-2">
      <span class="text-black">
        capable of <app-highlight-skill>designing in a browser</app-highlight-skill>,
      </span>
    </li>
    <li class="sky-neutral:text-gray-300 post-office:text-yellow-400 mb-2">
      <span class="text-black">
        understanding of <app-highlight-skill>integration or modification of front-end code</app-highlight-skill> with CMSs,
      </span>
    </li>
    <li class="sky-neutral:text-gray-300 post-office:text-yellow-400 mb-2">
      <span class="text-black">
        knowledge of <app-highlight-skill>SEO</app-highlight-skill>,
      </span>
    </li>
    <li class="sky-neutral:text-gray-300 post-office:text-yellow-400 mb-2">
      <span class="text-black">
        understanding and <app-highlight-skill>appreciation of color and typography</app-highlight-skill>,
      </span>
    </li>
    <li class="sky-neutral:text-gray-300 post-office:text-yellow-400 mb-2">
      <span class="text-black">
        the ability to work directly with UX/UI and designers to implement designs and <app-highlight-skill>provide feedback on a design</app-highlight-skill> if needed,
      </span>
    </li>
    <li class="sky-neutral:text-gray-300 post-office:text-yellow-400 mb-2">
      <span class="text-black">
        excellent <app-highlight-skill>communication skills</app-highlight-skill> and
      </span>
    </li>
    <li class="sky-neutral:text-gray-300 post-office:text-yellow-400 mb-2">
      <span class="text-black">
        the ability to dive in and <app-highlight-skill>learn new things</app-highlight-skill> to find solutions for technical problems.
      </span>
    </li>
  </ul>

  <h2 class="
    sky-neutral:before:bg-gray-200 sky-neutral:after:bg-gray-200
    post-office:before:bg-yellow-400 post-office:after:bg-yellow-400
    text-black text-3xl mb-10 pt-3 pl-2
  ">Conferences visited</h2>
  <ul class="list-disc ml-9 mb-16">
    <li class="sky-neutral:text-gray-300 post-office:text-yellow-400 mb-2">
      <span class="text-gray-500">
        <a
          class="
            sky-neutral:text-gray-500 sky-neutral:hover:border-red-600
            post-office:text-yellow-500 post-office:hover:border-orange-500
            border-b-4
          "
          href="https://www.reactlive.nl/"
          rel="noopener noreferrer"
          target="_blank"
        >React Live 2022<i class="las la-external-link-alt text-gray-400"></i></a>
        <small class="text-gray-400"> UPCOMING SOON</small>
        <p>
          <i class="las la-globe-americas"></i>&nbsp;<small>Amsterdam, Netherlands</small>&nbsp;
          <i class="las la-calendar"></i>&nbsp;<small>April 2022</small></p>
      </span>
    </li>
    <li class="sky-neutral:text-gray-300 post-office:text-yellow-400 mb-2">
      <span class="text-gray-500">
        <a
          class="
            sky-neutral:text-gray-500 sky-neutral:hover:border-red-600
            post-office:text-yellow-500 post-office:hover:border-orange-500
            border-b-4
          "
          href="https://2020.vuejsglobal.com/"
          rel="noopener noreferrer"
          target="_blank"
        >Vue.js Global Online 2020<i class="las la-external-link-alt text-gray-400"></i></a>
        <p>
          <i class="las la-globe-americas"></i>&nbsp;<small>Amsterdam, Netherlands</small>&nbsp;
          <i class="las la-calendar"></i>&nbsp;<small>September 2020</small></p>
      </span>
    </li>
  </ul>

  <!-- <app-tab-list>
    <app-tab title="CLI">
      <p>Intro text...</p>
      <p>See more at <a class="underline" href="https://angular.io/cli/generate#component">generate#component</a></p>
      <pre>
        <code [highlight]="codeSample.cli" [languages]="['shell']"></code>
      </pre>
    </app-tab>
    <app-tab title="Template">
      <p>Intro text...</p>
      <pre>
        <code [highlight]="codeSample.template" [languages]="['xml']"></code>
      </pre>
    </app-tab>
    <app-tab title="Component">
      <p>Intro text...</p>
      <pre>
        <code [highlight]="codeSample.component" [languages]="['typescript']"></code>
      </pre>
    </app-tab>
    <app-tab title="Unit test">
      <p>Intro text...</p>
      <pre>
        <code [highlight]="codeSample.unitTest" [languages]="['typescript']"></code>
      </pre>
    </app-tab>
  </app-tab-list> -->

  <h2 class="
    sky-neutral:before:bg-gray-200 sky-neutral:after:bg-gray-200
    post-office:before:bg-yellow-400 post-office:after:bg-yellow-400
    text-black text-3xl mb-10 pt-3 pl-2
  ">My knowledge roadmap</h2>

  <app-roadmap-item-list [itemList]="roadmapItemList"></app-roadmap-item-list>

  <h2 class="
    sky-neutral:before:bg-gray-200 sky-neutral:after:bg-gray-200
    post-office:before:bg-yellow-400 post-office:after:bg-yellow-400
    text-black text-3xl mt-16 mb-10 pt-3 pl-2
  ">Find me at</h2>

  <ul class="list-disc ml-9 mb-16">
    <li class="sky-neutral:text-gray-300 post-office:text-yellow-400 mb-2">
      <a
        class="
          sky-neutral:text-gray-500 sky-neutral:hover:border-red-600
          post-office:text-yellow-500 post-office:hover:border-orange-500
          border-b-4
        "
        href="https://www.linkedin.com/in/ziga-vukcevic/"
        rel="noopener noreferrer"
        target="_blank"
      >LinkedIn<i class="las la-external-link-alt text-gray-400"></i></a>
    </li>
    <li class="sky-neutral:text-gray-300 post-office:text-yellow-400 mb-2">
      <a
        class="
          sky-neutral:text-gray-500 sky-neutral:hover:border-red-600
          post-office:text-yellow-500 post-office:hover:border-orange-500
          border-b-4
        "
        href="https://github.com/be-codified"
        rel="noopener noreferrer"
        target="_blank"
      >GitHub<i class="las la-external-link-alt text-gray-400"></i></a>
    </li>
  </ul>

  <footer class="mt-20 mb-10">
    <p>&copy; 2015 &ndash; today | zigavukcevic.dev | v3.3.0</p>
    <small>
      This site has been built with
      <a
        class="border-b-2 text-gray-500 hover:border-red-600"
        href="https://angular.io/"
        rel="noopener noreferrer"
        target="_blank"
      >Angular</a> and hosted on <a
        class="border-b-2 text-gray-500 hover:border-red-600"
        href="https://www.netlify.com/"
        rel="noopener noreferrer"
        target="_blank"
      >Netlify</a>. The source code is hosted on <a
        class="border-b-2 text-gray-500 hover:border-red-600"
        href="https://github.com/ziga-vukcevic/zigavukcevic.dev"
        rel="noopener noreferrer"
        target="_blank"
      >GitHub</a>.
    </small>
  </footer>
  <router-outlet></router-outlet>
</div>
